name: yesSQL

services:
  primary_server:
    image: server
    command: ["0", "9000", "1"]
    ports:
      - "9000:9000"
    environment:
      - SERVER_NAME=Primary_Server
    env_file:
      - database_setup.env
    depends_on:
      - partition_server
    networks:
      - internal_net

  partition_server:
    image: server
    #build:
    #  context: ..
    #  dockerfile: ./docker/Dockerfile
    command: ["1", "9001", "1"]
    expose:
      - "9001"
    environment:
      - SERVER_NAME=Partition_Server
    env_file:
      - database_setup.env
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge
